{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">alarm</i>
            </div>
            <p class="card-category">Pittsburgh</p>
            <h3 class="card-title"><iframe src="http://free.timeanddate.com/clock/i7d9d6zh/n418/fs30/tct/pct/th2/ts1" frameborder="0" width="199" height="36" allowTransparency="true"></iframe>
</h3>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">alarm</i>
            </div>
            <p class="card-category">MTV/SVL</p>
            <h3 class="card-title"><iframe src="http://free.timeanddate.com/clock/i7d9d6zh/n224/fs30/tct/pct/th2/ts1" frameborder="0" width="199" height="36" allowTransparency="true"></iframe></h3>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
              <i class="material-icons">alarm</i>
            </div>
            <p class="card-category">Zurich</p>
            <h3 class="card-title"><iframe src="http://free.timeanddate.com/clock/i7d9d6zh/n268/fs30/tct/pct/th2/ts1" frameborder="0" width="199" height="36" allowTransparency="true"></iframe></h3>
          </div>
        </div>
      </div>
    </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      md.initDashboardPageCharts();

    });
  </script>

{% endblock javascripts %}
